repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: |
            (?x)^(
                README.md|
                docs/
            )$
    -   id: end-of-file-fixer
        exclude_types: [html, svg]
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.10
    hooks:
    -   id: ruff
        args: [--fix, --show-fixes, --exit-non-zero-on-fix]
    -   id: ruff-format
