-f https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0
tqdm==4.49.0
numpy==1.19.2
umap-learn==0.4.6
hdbscan==0.8.26
pandas==1.1.2
scikit_learn==0.23.2
sentence_transformers==0.3.6
joblib==0.15.1
